---
import {
  Accordion as BaseAccordion,
  AccordionContent,
  AccordionItem,
  AccordionTrigger,
} from "@/components/ui/accordion";

interface Props {
  data: {
    title: string;
    description: string;
  }[];
}

const { data } = Astro.props;
---

<div class="w-full">
  <BaseAccordion type="single" collapsible>
    {data.map((item, i) => (
      <AccordionItem value={`item-${i}`}>
        <AccordionTrigger>{item.title}</AccordionTrigger>
        <AccordionContent>{item.description}</AccordionContent>
      </AccordionItem>
    ))}
  </BaseAccordion>
</div>

